@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://cdn.glitch.global/5078ae4e-b830-4bad-84d0-6c9b9ba2d581/images-1.jpg?v=1741281213322");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  text-align: center;
  margin: auto;
   font-family: "Poetsen One", serif;
}

h1{
  font-size: 30px;
  color: rgb(214, 154, 222);
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid white;
}



